# Docker Hub
DOCKER_USERNAME=your_username

# Database
DB_USER=pastryflow_user
DB_PASSWORD=PastryFlow_DB_2024!
DB_NAME=pastryflow

# Security
JWT_SECRET=PastryFlowSuperSecretKeyThatIsAtLeast32Characters2024!
JWT_ISSUER=PastryFlowAPI
JWT_AUDIENCE=PastryFlowWeb

# Frontend
VITE_API_URL=/api
